.columns > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: antiquewhite;
  margin-bottom: 10px;
}
.columns > div:nth-child(even) {
  background-color: #f7f5f3;;
}
.columns > div:nth-child(odd) {
background-color: #fff;
}
.columns img {
  width: fit-content;
}

.columns > div > div {
  order: 1;
}

.columns > div > div >p> a:hover {
  color: #00a69b;
}
.columns > div > .columns-img-col img {
  display: block;
}

@media (min-width: 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
    background: inherit;
  }
}
