.topics{
  font-family: 'Chronicle Display A', 'Chronicle Display B', serif;
    font-size: 13.6px;
    position: relative;
    font-weight: bold;
    margin: 1ex 0;
    top: 0;
    right: 0;
    bottom: 0;
    float: right;
    z-index: 100;
    margin: 0;
    padding: 2.3em 3.3em;
    text-align: left;
    background: #ecebea;
}


.topics > div > div> ul {

  display: block;
  list-style: none;
  position: inherit;
  list-style-position: initial;
  background-color: transparent;
}

.topics > div > div> ul >li {
  font-family: 'Open Sans', open-sans, sans-serif;
  font-size: 20px;
  letter-spacing: 0;
  list-style-position: inherit;
  line-height: 26px;
  font-weight: normal;
  background: none;
}

.topics > div > div> h2{
  font-family: 'Open Sans', open-sans, sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 30px;
  padding-bottom: 5px;
  border-bottom: 1px solid #000;

}
.topics > div > h6 >a {
  font-size: 16px;
  font-family: 'Open Sans', open-sans, sans-serif;
  color: #666666;
  font-weight: bold;
  letter-spacing: 0;
  margin-bottom: 28px;
}

.topics > div > div > a:hover {
  color: #00a69b;
}

@media (min-width: 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}
