.text-wrapper > div {
  margin-left: 15.6em;
  max-width: 47.8%;
  margin-bottom: 10px;
}

.text img {
  width: fit-content;
}

.text > div > div {
  font-size: 16px;
  font-family: 'Open Sans', open-sans, sans-serif;
  font-weight: bold;
  letter-spacing: 0;
  color: #666666;
  margin-bottom: 28px;
}

.text > div > div >a {
  color: #00a69b;
  line-height: 50px;
  font-size: 40px;
  font-family: 'Chronicle Display A', 'Chronicle Display B', serif;
  font-weight: 100;
  line-height: 52px;

}
.text-wrapper:nth-child(even) {
  background-color:  #f7f5f3;;
}
.text-wrapper:nth-child(odd) {
background-color: #fff;
}
.text > div > h6 >a {
  font-size: 16px;
  font-family: 'Open Sans', open-sans, sans-serif;
  color: #666666;
  font-weight: bold;
  letter-spacing: 0;
  margin-bottom: 28px;
  background-color: inherit;
}

.text > div > div > a:hover {
  color: #00a69b;
}

@media (min-width: 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}
