.container-wrapper{
  position: relative;
}
.container{
  margin-top: -40ex;
  min-height: 40ex;
  display: block;
  
  padding-top: 0;
  padding-bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-left: 100px;
 
}
.container > div > div {

  background: #f7f5f3;
    margin-top: 0;
    font-family: 'Open Sans', open-sans, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    max-width: 760px;
    padding-left: 8%;
    padding-right: 8%;
    width: 90%;
    margin-top: -25ex;
   
}
.container > div> div> h2{
  font-size: 40px;
  line-height: normal;
  text-transform: none;
    margin: 0;
    font-family: 'Chronicle Display A', 'Chronicle Display B', serif;
   
    font-weight: bold;
}
.container > div> div> h3{
  max-width: none;
  margin: 0 auto;
  padding-bottom: 12px;
  text-align: left;
    font-family: 'Chronicle Display A', 'Chronicle Display B', serif;
    font-weight: 700;
    font-size: 55px;
    line-height: 60px;
    margin: 0;
}
.container > div> div> h5{
 
  display: inline-block;
  max-width: 185px;
  padding: 8px 25px;
  margin: 0;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  letter-spacing: 1px;
  font-size: 26px;
  font-family: 'bebas-neue', sans-serif;
  margin-bottom: 75px;

}
.container > div > div > p{
    font-family: 'Open Sans', open-sans, sans-serif;
       font-size: 16px;
    line-height: 27.2px;
  font-weight: 500;
  width: 100%;
    max-width: 991px;
}
.container > div> div> h4{
margin: 0 auto;
font-size: 40px;
line-height: 50px;
padding-left: 0;
padding-right: 0;
max-width: 760px;

  font-family: 'Chronicle Display A', 'Chronicle Display B', serif;
  font-size: 25.6px;
  font-weight: lighter;
  letter-spacing: 0;
  line-height: 1.4em;
  margin-top: 5ex;
  margin-bottom: 4ex;
  text-transform: none;
  text-align: left;
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 35px;
  margin-top: 5.5ex;
}
.container > div> div> ul{
 
  list-style: none;
  padding: 0;
  margin: 1ex 0 3ex;
  word-break: normal;
  word-wrap: break-word;
}

.container > div> div> ul> li{
 
  display: inline-block;
  font-family: 'Open Sans', open-sans, sans-serif;
  font-size: 25px;
  line-height: 35px;
  color: #000000;
  text-transform: uppercase;
  /* padding-right: 5px; */
  font-weight: bold;
}

.container > div> div> ol{
list-style: none;
  display: block;
  padding: 0;
  font-weight: bold;
  margin-bottom: 40px;
 
  word-break: normal;
  word-wrap: break-word;
  font-size: 20px;
  line-height: normal;
  text-transform: uppercase;
}

.container > div> div> p > strong{
  font-size: 20px;
  line-height: 35px;
}




.container > div> div> p > picture> image{
 
  display: inline-block;
  max-width: 185px;
  padding: 8px 25px;
  margin: 0;
 
  color: #ffffff;
  text-align: center;
  letter-spacing: 1px;
  font-size: 26px;
  font-family: 'bebas-neue', sans-serif;
  margin-bottom: 75px;

}
#want-to-learn-more-say-hello, #download-the-full-report{
  text-align: center;
  margin: 50px 0 0;
    width: 100% !important;
    max-width: none;
    min-width: auto;
}
#want-to-learn-more-say-hello > a, #download-the-full-report> a {
  font-family: 'Open Sans', open-sans, sans-serif;
  font-weight: bold;
  font-size: 34px;
  line-height: normal;
  color: #000000;
}

.container div > div > h3 >  a:hover {
  background-color: #9dd4cf;
  
    transition: all 500ms ease;
  outline-width: 0;
}

.container > div> div> p > em>a{
  font-family: 'Open Sans', open-sans, sans-serif;
   line-height: normal;
  color: #000000;
}
.container > div> div> p >em>a:hover{
  background-color: #9dd4cf;
  
  transition: all 500ms ease;
outline-width: 0;
}
.container > div> div> p > strong > em>a{
  font-size: 20px;
  line-height: 35px;
  font-family: 'Open Sans', open-sans, sans-serif;
  font-weight: bold;
  
  line-height: normal;
  color: #000000;
}
.container > div> div> p >strong >em>a:hover{
  background-color: #9dd4cf;
  
  transition: all 500ms ease;
outline-width: 0;
}