.container{
  display: block;
  padding-top: 0;
  padding-bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-left: 100px;
 
}
.container > div > div {
  
  position:absolute;
  background: #f7f5f3;
    margin-top: 0;
    font-family: 'Open Sans', open-sans, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    max-width: 760px;
    padding-left: 8%;
    padding-right: 8%;
    width: 90%;
    margin-top: -25ex;
   
}

.container > div> div> h5{
 
  display: inline-block;
  max-width: 185px;
  padding: 8px 25px;
  margin: 0;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  letter-spacing: 1px;
  font-size: 26px;
  font-family: 'bebas-neue', sans-serif;
  margin-bottom: 75px;

}



.container > div> div> p > picture> image{
 
  display: inline-block;
  max-width: 185px;
  padding: 8px 25px;
  margin: 0;
 
  color: #ffffff;
  text-align: center;
  letter-spacing: 1px;
  font-size: 26px;
  font-family: 'bebas-neue', sans-serif;
  margin-bottom: 75px;

}

.container > div> div> h3{
  color: #000000;
  font-family: 'Open Sans', open-sans, sans-serif;
  font-size: 16px;
  line-height: 1.5em
}

